{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "plugins": [
    "vue",
    "import"
  ],
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:vue/recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  }
}
